@import url(https://fonts.googleapis.com/css?family=Roboto:,300,400,500);

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: whitesmoke;
    /* overflow: hidden; */
}

footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 3px;
    height: 5px;
    background-color: #003651;
    color: white;
}

.flex-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    position: relative;

}

.vids {
    position: relative;
    filter: opacity(90%);
    box-shadow: -5px 5px 5px #ff8000;
}

#bgvideo {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translate(-50%) translate(-50%);
    -moz-transform: translate(-50%) translate(-50%);
    -webkit-transform: translate(-50%) translate(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(placeholder.jpg) no-repeat;
    background-size: cover;
    filter: opacity(0.5);
    filter: contrast(30%);
}

#navbar {
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

#menu {
    font-size: 130%;
    letter-spacing: 4px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    text-shadow: -10px 10px 3px whitesmoke;
}

.active {
    text-shadow: -10px 10px 3px #ff8000;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

#header {
    z-index: -5;
}

#header-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: auto;
    box-shadow: -5px 5px 5px #ff8000;
    filter: opacity(90%);
}

.container {
    position: relative;
    text-align: center;
    color: whitesmoke;
}

#recent-content-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: auto;
    box-shadow: -5px 5px 5px #ff8000;
    filter: opacity(90%);
    position: relative;
    z-index: -5;
}

#recent-content-1 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-shadow: -10px 10px 5px #003561;
}

#rc-1-text {
    position: absolute;
    top: 20%;
    left: 10%;
    right: 10%;
    transform: translate (-50%, -50%);
    z-index: 2;
    text-shadow: -10px 10px 5px #003561;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#article-1-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: auto;
    box-shadow: -5px 5px 5px #ff8000;
    filter: opacity(90%);
    position: relative;
    z-index: -5;
    filter: opacity(80%);
    filter: contrast(60%);
}

#article-1-title {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-shadow: -10px 10px 5px #003561;
}

#article-1-text {
    position: absolute;
    top: 60%;
    left: 10%;
    right: 10%;
    transform: translate (-50%, -50%);
    z-index: 2;
    text-shadow: -10px 10px 5px #003561;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#recent-content-2-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: auto;
    box-shadow: -5px 5px 5px #ff8000;
    filter: opacity(90%);
    position: relative;
    z-index: -5;
}

#recent-content-2 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-shadow: -10px 10px 5px #003561;
}

#rc-2-text {
    position: absolute;
    top: 20%;
    left: 10%;
    right: 10%;
    transform: translate (-50%, -50%);
    z-index: 2;
    text-shadow: -10px 10px 5px #003561;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#review-img-2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: auto;
    box-shadow: -5px 5px 5px #ff8000;
    filter: opacity(90%);
    position: relative;
    z-index: -5;
}

#review-2-content {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-shadow: -10px 10px 5px #003561;
}

#rv-2-text {
    position: absolute;
    top: 20%;
    left: 10%;
    right: 10%;
    transform: translate (-50%, -50%);
    z-index: 2;
    text-shadow: -10px 10px 5px #003561;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#more {
    display: none;
}